*{
    margin:0;
    padding:0;
}





html,body{
 width:100%;
 height:100%;
 overflow: auto;
 
}

html, body{
 background: url(http://ak4.picdn.net/shutterstock/videos/3189244/thumb/1.jpg)  no-repeat center;
 background-size: cover;
 
 
}




 
 

ul{
 width:100%;
 position:absolute;
 background:#659DBD;
 height:15%;
 line-height:3.5;
 opacity: .9;
 text-decoration: none;
 overflow: hidden;
 
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
 text-decoration: none;
 
}

ul li a{
 text-decoration: none;
 color:white;
 margin:80px;
 font-size:150%;
 
}


ul li a:hover{
 background:white;
 color:#DAAD86;
 padding:0.5%;
 text-decoration: none;
}

.logo{
position:absolute;
 left:36%;
 top:40%;
 overflow: auto;
 height:200px;
 width:200px;
}

.mainsect{
 top:100%;
 left:36%;
 position:absolute;
}


.contactinfo{
 top:150%;
 left:36%;
 position:absolute;
 
 
 .footer1 {
  width:100%;
  height:50px;
  color:#6B7A8F;
  bottom: 30px;
  text-align: left;
  
}   
