
.mainheading{
    text-align: center;
}

html,body{
 width:100%;
 height:100%;
 
}

html, body{
 background: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98b1cd2ea86a7b4796275ef13aadafbf&auto=format&fit=crop&w=752&q=80)  no-repeat center;
 background-size: cover;
 
 
}




 
 

ul{
 width:100%;
 position:absolute;
 background:#DCC7AA;
 height:25%;
 line-height:3.5;
 opacity: .9;
 
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
 
}

ul li a{
 text-decoration: none;
 color:white;
 margin:60px;
 font-size:150%;
}


ul li a:hover{
 background:white;
 color:#ffb3d9;
 padding:2%;
}

img{
    border-radius:700px;
    position: absolute;
    top: 10%;
    right:140%;
    height: 200px;
    width: 200px;
            
}

.container1{
 position:absolute;
 left:35%;
 top:30%;
 font-size:20px;
}

.btn{
 position:absolute;
 left:60%;
 top:70%;
 text-decoration:none;
 border-radius:12px;
 background-color:#DCC7AA;
 color:white;
 font-size: 15px;

}

.btn2{
position:absolute;
left:89%;
top:70%;
text-decoration:none;
border-radius:12px;
background-color:#DCC7AA;
color:white;
font-size: 15px;
}

.container2{
 position:absolute;
 left:10%;
 top:40%;
 font-size:20px;
}

.btn3{
position:absolute;
left:89%;
top:70%;
text-decoration:none;
border-radius:12px;
background-color:#DCC7AA;
color:white;
}

.containersec{
 position:absolute;
 left:35%;
 top:40%;
 
}

.footer {
  width:100%;
  height:40px;
  color:#6B7A8F;
  position:fixed;
  bottom: 30px;
  text-align: left;
}    


img{
	border-radius: 50%;
	height:20;
	width:25;
	text-align: center;
	z-index:1;
	
}

