
.mainheading{
    text-align: center;
}

html,body{
 width:100%;
 height:100%;
 
}




 body{
  background-color:white;
 }
 

ul{
 width:100%;
 position:absolute;
 background:#99e6ff;
 height:25%;
 line-height:3.5;
 opacity: .9;
 
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
 
}

ul li a{
 text-decoration: none;
 color:white;
 margin:60px;
 font-size:200%;
}


ul li a:hover{
 background:white;
 color:#ffb3d9;
 padding:2%;
}

img{
    border-radius:700px;
    position: absolute;
    top: 50%;
    right: 40%;
            
}

.container1{
 position:absolute;
 left:35%;
 top:30%;
 font-size:20px;
}

.btn{
 position:absolute;
 left:89%;
 top:70%;
 text-decoration:none;
 border-radius:12px;
 background-color:#99e6ff;
 color:white;
}

.btn2{
position:absolute;
left:89%;
top:70%;
text-decoration:none;
border-radius:12px;
background-color:#99e6ff;
color:white;
}

.container2{
 position:absolute;
 left:35%;
 top:40%;
 font-size:20px;
}

.btn3{
position:absolute;
left:89%;
top:70%;
text-decoration:none;
border-radius:12px;
background-color:#99e6ff;
color:white;
}

