*{
    margin:0;
    padding:0;
}





html,body{
 width:100%;
 height:100%;
 overflow: auto;
 
}

html, body{
 background: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98b1cd2ea86a7b4796275ef13aadafbf&auto=format&fit=crop&w=752&q=80)  no-repeat center;
 background-size: cover;
 
 
}




 
 

ul{
 width:100%;
 position:absolute;
 background:#DCC7AA;
 height:15%;
 line-height:3.5;
 opacity: .9;
 text-decoration: none;
 
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
 text-decoration: none;
 
}

ul li a{
 text-decoration: none;
 color:white;
 margin:80px;
 font-size:180%;
 
}


ul li a:hover{
 background:white;
 color:#C0B283;
 padding:0.5%;
 text-decoration: none;
}


 img {
  border-radius: 700px;
  position:absolute;
  top:40%;
  left:20%;
  }
  
  
  
  
           
.container1{
 position:absolute;
 left:40%;
 top:30%;
 font-size:15px;
 font-family: helvetica;
 
 
}



.btn{
 position:absolute;
    left:70%;
    top:65%;
    text-decoration:none;
    color:white;
    background:#DCC7AA;
    padding:5%;
    border-radius:20px;
}



.btn2{
 position:absolute;
    left:74%;
    top:65%;
    text-decoration:none;
    color:white;
    background:#DCC7AA;
    padding:1%;
    border-radius:10px
}

.container2{
 position:absolute;
 left:10%;
 top:20%;
 
}

.container2.mainheading{
 text-align:center;
 
}


.btn3{
 position:absolute;
    left:89%;
    top:75%;
    text-decoration:none;
    color:white;
    background:#DCC7AA;
    padding:1%;
    border-radius:12px;
}

.containersec{
 position:absolute;
 left:35%;
 top:30%;
 
}

.footer {
  width:100%;
  height:50px;
  color:black;
  position:absolute;
  bottom: 30px;
  text-align: center;
}    




.container3{
 position:absolute;
 left:40%;
 top:26%;

 
}

.container3.h3{
 font-size: 150%;
}

.workexp{
    position:absolute;
    left:7%;
    top:20%;
    font-size:15px;
    color:black;
    text-decoration:none;
}
 
.workexp h1{
 font-size:25px;
}



.img2{
    position: absolute;
    top:59%;
    left:56%;
    height:100px;
}
.img3{
    position:absolute;
    top:60%;
    left:62%;
    height:80px;
}



