#section1{
   background: url("https://images.unsplash.com/photo-1502124781964-575d259e5433?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=80222261813b23cbed8b7f0917057f51&auto=format&fit=crop&w=750&q=80")no-repeat center fixed;
    background-size:cover;
    color: 	  #ff66cc;
}

#section2{
   background: url("https://images.unsplash.com/photo-1442548364206-8432f56d7595?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=df1f8447d27106b992b782b12d1b3fd4&auto=format&fit=crop&w=750&q=80")no-repeat center fixed;
    background-size:cover;
}

#section3{
    background: url("https://images.unsplash.com/photo-1511809870860-4d2806eb1908?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=80065b1c21797fcf410afade2aa6161f&auto=format&fit=crop&w=334&q=80")no-repeat center fixed;
    background-size:cover;
}

.section{
    text-align: center;
    color: white;
    font-size: 30px;
}

button{
    background-color: white;
    border: double;
    color: #536DFE;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}


.btn2{ 
    background-color: white;
    border: double;
    color: #536DFE;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
    
}