#section1{
   background: url("http://cdn77.orangesmile.com/common/img_cities_w680/salou--400284-3.jpg")no-repeat center fixed;
    background-size:cover;
}

#section2{
   background: url("https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200")no-repeat center fixed;
    background-size:cover;
}

#section3{
    background: url("http://www.cork-guide.ie/assets/photos/kinsale_waterside_views.jpg")no-repeat center fixed;
    background-size:cover;
}

.section{
    text-align: center;
    color: white;
    font-size: 30px;
}

button{
    background-color: white;
    border: double;
    color: #536DFE;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn2 {
     background-color: white;
    border: double;
    color: #536DFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    padding:1%;
    border-radius:12px;
    cursor: pointer;
}
