*{
    margin:0;
    padding:0;
}





html,body{
 width:100%;
 height:100%;
 overflow: auto;
 
}

html, body{
 background: url(http://ak4.picdn.net/shutterstock/videos/3189244/thumb/1.jpg)  no-repeat center;
 background-size: cover;
 
 
}




 
 

ul{
 width:100%;
 position:absolute;
 background:#659DBD;
 height:15%;
 line-height:3.5;
 opacity: .9;
 text-decoration: none;
 overflow: hidden;
 
}

ul li{
 display:inline;
 list-style:none;
 position:relative;
 top:30%;
 text-decoration: none;
 
}

ul li a{
 text-decoration: none;
 color:white;
 margin:80px;
 font-size:150%;
 
}


ul li a:hover{
 background:white;
 color:#DAAD86;
 padding:0.5%;
 text-decoration: none;
}

.logo{
position:absolute;
 left:36%;
 top:40%;
 overflow: auto;
 height:200px;
 width:200px;
}



/* E-business page 1 styling */
.container3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    
}

.container2 h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.container2 .lblsalesforce{
    position: absolute;
    top: 20%;
    left: 43%;
}

.container2 .lblcloud9{
    position: absolute;
    top: 25%;
    left: 43%;
}

.container2 .lblaws{
    position: absolute;
    top: 30%;
    left: 43%;
}

.container2 .lblgmail{
    position: absolute;
    top: 35%;
    left: 43%;
}

.container2 .lblsubtotal{
    position: absolute;
    top: 50%;
    left: 43%;
}
.container2 .lbldiscount{
    position: absolute;
    top: 55%;
    left: 43%;
}
.container2 .lblvat{
    position: absolute;
    top: 60%;
    left: 43%;
}

.container2 .lbltotal{
    position: absolute;
    top: 65%;
    left: 43%;
}

.btnadd{
    position: absolute;
    top: 81%;
    left: 45%;
}

.addbtnstyle{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.addbtnstyle:hover{
    cursor: pointer;
}

.btncal{
    position: absolute;
    top: 75%;
    left: 43%;
    
    background-color: #ffff00;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 95%;
}
.btncal:hover{
    cursor:pointer;
}

.btnclear:hover{
    cursor: pointer;
}

.btnclear{
    position: absolute;
    top: 75%;
    left: 52%;
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 4px 4px;
    border: solid 1px red;
    border-radius: 3px;
}

/* E-business page 2 styling */
.heading2{
    position: absolute;
    top: 10%;
    left: 42%;
}

.lblname{
    position: absolute;
    top: 20%;
    left: 43%;
}

.lblemail{
    position: absolute;
    top: 25%;
    left: 43%;
}

.lblpin{
    position: absolute;
    top: 30%;
    left: 43%;
}

.btnproceed{
    position: absolute;
    top: 35%;
    left: 43%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnproceed:hover{
    cursor: pointer;
}

.btnvalidate{
    position: absolute;
    top: 40%;
    left: 43%;
    
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnvalidate{
    cursor: pointer;
}

/* E-business page 3 styling */
        
.ebus3heading{
    position: absolute;
    top: 20%;
    left: 40%;
}
.ebus3name{
    position: absolute;
    top: 30%;
    left: 40%;
}

.ebus3email{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ebus3total{
    position: absolute;
    top: 40%;
    left: 40%;
}